@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background_color: #ffffff;
    --azul_google: #4285f4;
    --rojo_google: #ea4335;
    --amarillo_google: #fbbc05;
    --verde_google: #34a853;
    --bordes: #D7D5D5;
    --botones: #f1eeee;
    --sombras: #ACACAC;
}

*{
    padding: 0;
    margin: 0;
    font-size: 1vw;
    font-family: Arial, sans-serif;
}

.cabecera{
    height: 8vh;
    width: 100vw;
    background-color: var(--background_color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecera > section{
    padding: 2vw;
    display: flex;
    align-items: center;
    gap: 2vw;
}
.enlaces{
    color: #000000;
    text-decoration: none;
}
.enlaces:hover{
    text-decoration: underline;
}
.iconos{
    height: 4vh;
    width: auto;
}
.foto_perfil {
    height: 5vh;
    width: auto;
    border-radius: 10vw;
    box-shadow: 0 0 0.2vw var(--sombras);
}

main{
    height: 85vh;
    width: 100vw;
    background-color: var(--background_color);
    display: flex;
    justify-content: center;
}
main > section{
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre_google{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#E{
    font-size: 6vw;
    font-family: 'Poppins', sans-serif;
}
#L, #I, #A, #S{
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
}
#E, #A {color: var(--azul_google);}
#L {color: var(--rojo_google);}
#I {color: var(--amarillo_google);}
#S {color: var(--verde_google);}

.busqueda{
    display: flex;
    align-items: center;
    border-radius: 5vw;
    border: 0.1vw solid var(--bordes);
    padding: 0 1vw;
}
.busqueda > img{
    height: 3vh;
    width: 1.5vw;
}
.busqueda_text{
    font-size: 1.2vw;
    height: 6vh;
    width: 30vw;
    border: none;
    padding:  0 1vw;
}
.busqueda:hover, .busqueda:focus{
    box-shadow: 0 0 0.2vw var(--sombras);
}
.busqueda_text:focus{
    outline: none;
}
.busqueda_rapida{
    font-size: 0.8em;
    margin-top: 2vw;
    height: 2vw;
    width: 8vw;
    background-color: var(--botones);
    border: none;
    border-radius: 0.5vw;
}
.busqueda_rapida:hover{
    box-shadow: 0 0 0.2vw var(--sombras);
}

footer{
    height: 7vh;
    width: 100vw;
    background-color: var(--background_color);
    display: flex;
    align-items: center;
}
footer > p{
    margin-left: 2vw;
}
.copyright{
    margin-left: 0;
    margin: auto;
    margin-left: 40vw;
}